*, *::before, *::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font: inherit;
}

img, picture, svg, video {
	display: block;
	max-width: 100%;
}

html {
	color-scheme: dark light;
	/* scrollbar-width: thin;
	scrollbar-color: #fef297 #b2c1d1; */
}

body {
	min-height: 100vh;   
}

main{
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.output{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	max-width: 70%;
	flex-wrap: wrap;
}

.word{
	display: flex;
	flex-direction: row;
	margin: 0 0.6rem;
}

.word img{
	height: 3rem;
	margin: 0 -0.6rem 0 -0.2rem;
}

textarea{
	resize: none;
	background-color: black;
	border: none;
	padding: 0.5em;
	font-size: 1rem;
	min-height: 4.5rem;
	width: 50vw;
}
